.btnEnsure, .btnCancel, .overlay{
    font-weight: normal;
}

.popularcities {
    background-color: #e4e4e4;
    padding-bottom: 20px;
    div {
        float: left;
        width: 23%;
        text-align: center;
        margin: 8px 5%;
        color: #888;
        font-size: 15px;
    }
}

.hottitle {
    color: rgb(142, 164, 131);
    text-align: center;
    font-size: 15px;
    margin: 0 5% 10px 5%;
    padding: 15px 0 5px 0;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/***
清除浮动
clearfix
***/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}